.page-realisations {
    background-color: #D9DCDF;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden; /* Hides overflow from positioned circles */
  }

  /* Container for projects */
  .projects {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    z-index: 1;
  }

  /* Individual project settings */
  .project {
    width: 400px; /* Width as per the design */
    
  }

  .project img {
    width: 400px;
    height: 280px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .project span {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    font-style: bold;
    color: #333;
  }

  /* Title Styling */
  .realisations-title {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 6em;
    color: #333;
    z-index: 2;
  }

  .circleR {
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 0;
  }

.circle-top-realisations {
    top: -20%;
    left: -5%;
    width: 35vw;
    height: 30vw;
}

.circle-bottom-realisations {
    bottom: -20%;
    right: -5%;
    width: 35vw;
    height: 30vw;
}