.page-realisations {
  background-color: #D9DCDF;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.projects {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}

.project {
  width: 25vw;
  margin-bottom: 20px;
  text-align: center;
}

.project img {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project h2 {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.project p {
  font-size: 1em;
  color: #555;
  margin-top: 5px;
}

.realisations-title {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 6em;
  color: #333;
  z-index: 2;
}

.circleR {
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  opacity: 0.3;
  border: 2px solid #666;
}

.circle-top-realisations {
  top: -20vh;
  left: -15vw;
  width: 50vw;
  height: 50vw;
}

.circle-bottom-realisations {
  bottom: -20vh;
  right: -15vw;
  width: 50vw;
  height: 50vw;
}

@media (max-width: 768px) {
  .projects {
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }

  .project {
    width: 50%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  .project p {
    display: none;
  }

  .realisations-title {
    font-size: 3em;
    padding-top: 15vh;
  }

  .circle-top-realisations {
    top: -10vh;
    left: -20vw;
    width: 80vw;
    height: 80vw;
  }

  .circle-bottom-realisations {
    bottom: -10vh;
    right: -20vw;
    width: 80vw;
    height: 80vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .projects {
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
  }

  .project {
    width: 60%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  .project p {
    display: none;
  }

  .realisations-title {
    font-size: 3em;
    padding-top: 20vh;
  }

  .circle-top-realisations {
    top: -10vh;
    left: -20vw;
    width: 60vw;
    height: 60vw;
  }

  .circle-bottom-realisations {
    bottom: -10vh;
    right: -20vw;
    width: 60vw;
    height: 60vw;
  }
}
