/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    background-color: #D8D9D0; /* Couleur de fond */
    color: #333;
}

.page {
    scroll-snap-align: start;
}

/* Quand le menu est ouvert */
nav.open {
    transform: translateX(0); /* Le menu glisse dans la vue */
}

/* Style des liens du menu */
.navbar nav a {
    margin: 0 1vw;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

.navbar nav a:hover {
    color: #FF5722;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;               /* Largeur spécifique */
    margin: 0 auto;            /* Centre horizontalement */
    padding: 2vh 4vw;
    background-color: #fff;
    font-size: 1.2rem;
    position: fixed;
    top: 20px;
    left: 0;                   /* Assure qu'elle commence au bord gauche */
    right: 0;                  /* Assure qu'elle termine au bord droit */
    box-shadow: 0px 0.4vw 1vw rgba(0, 0, 0, 0.3);
    z-index: 10;
    border-radius: 0.5vw;
    animation: fadeIn 2s ease-out forwards;
    min-height: 50px;
}

.navbar .logo {
    position: absolute;
    left: 2vw;
    top: 50%;
    transform: translateY(-50%);
    height: 10vh;
    width: auto;
    max-height: 60px;  /* Limite la taille maximale du logo */
    max-width: 120px;  /* Limite la largeur maximale */
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 80px;
    overflow: hidden;
}

.hero-content {
    position: relative;
    z-index: 5;
    text-align: center;
    padding-top: 100px;
}

.first-name {
    font-size: 5vw; /* Ajustable pour correspondre exactement */
    font-weight: 300;
}

.last-name-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.last-name {
    font-size: 7vw; /* Ajustable pour correspondre exactement */
    font-weight: 700;
}

.highlight {
    color: #FF5722; /* Couleur personnalisée pour mettre en valeur */
    font-family: 'Roboto', sans-serif; /* Utilise Roboto */
    font-weight: 100; /* Applique le poids thin (100) */
    font-size: 7vw;
    margin: 0;
}

.subtitle {
    font-size: 1.5vw;
    color: #666;
    margin-top: 1rem;
}

.hero-image img {
    width: 200px; /* Ajustable pour correspondre exactement */
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    animation: fadeIn 2s ease-out forwards;
}

.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    /*opacity: 0.3;*/
    border: 2px solid #666;
    animation: fadeInUp 2s ease-out forwards;
}

/* Cercles pour les écrans de grande taille */
.circle-top {
    top: -20vh;
    left: -15vw;
    width: 50vw;
    height: 50vw;
}

.circle-bottom {
    bottom: -20vh;
    right: -15vw;
    width: 50vw;
    height: 50vw;
}

/*@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}*/

/* Hamburger */
.hamburger {
    display: none;
    position: absolute; /* Position relative à la navbar */
    top: 50%; /* Centré verticalement dans la navbar */
    right: 20px; /* Distance du bord droit */
    transform: translateY(-50%); /* Ajuste pour centrer parfaitement */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 10; /* Assure qu'il reste au-dessus des autres éléments */
}


.hamburger span {
    display: block;
    height: 3px;
    background: #333;
    border-radius: 2px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Animation pour le hamburger actif */
.hamburger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



@media (max-width: 480px) {
    .hero-content {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centre le contenu horizontalement */
        justify-content: center; /* Centre le contenu verticalement */
        text-align: center; /* Assure que le texte est centré */
    }

    .first-name, .subtitle {
        font-size: 6vw;
    }

    .last-name, .highlight {
        font-size: 10vw;
        margin: 0; /* Enlève les marges qui pourraient affecter le centrage */
    }

    .hero-image img {
        width: 200px;
        height: 200px;
    }

    .circle-top {
        top: -10vh;
        left: -20vw;
        width: 80vw;
        height: 80vw;
        max-width: 400px;
        max-height: 400px;
    }

    .circle-bottom {
        bottom: -10vh;
        right: -20vw;
        width: 80vw;
        height: 80vw;
        max-width: 400px;
        max-height: 400px;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;
        padding: 1em;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease; /* Transition pour la navigation */
        transform: translateY(-100%); /* Cache le menu */

    }

    nav.open {
        display: flex;
        flex-direction: column;
        transform: translateY(0); /* Fait glisser le menu dans le viewport */
    }

    .hamburger {
        display: flex;
    }

    .presentation {
        font-size: 1rem; /* Réduction de la taille du texte */
        width: 90%; /* Largeur relative augmentée */
    }
    
}

@media (max-width: 768px) {
    .hero-content {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centre le contenu horizontalement */
        justify-content: center; /* Centre le contenu verticalement */
        text-align: center; /* Assure que le texte est centré */
    }

    .first-name, .subtitle {
        font-size: 6vw;
    }

    .last-name, .highlight {
        font-size: 10vw;
        margin: 0; /* Enlève les marges qui pourraient affecter le centrage */
    }

    .hero-image img {
        width: 200px;
        height: 200px;
    }

    .circle-top {
        top: -10vh;
        left: -20vw;
        width: 80vw;
        height: 80vw;
        max-width: 400px;
        max-height: 400px;
    }

    .circle-bottom {
        bottom: -10vh;
        right: -20vw;
        width: 80vw;
        height: 80vw;
        max-width: 400px;
        max-height: 400px;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;
        padding: 1em;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease; /* Transition pour la navigation */
        transform: translateY(-100%); /* Cache le menu */
    }

    nav.open {
        display: flex;
        flex-direction: column;
        transform: translateY(0); /* Fait glisser le menu dans le viewport */
    }

    .hamburger {
        display: flex;
    }

    .presentation {
        font-size: 1rem; /* Réduction de la taille du texte */
        width: 90%; /* Largeur relative augmentée */
    }

}

/* Responsive pour écrans moyens */
@media (min-width: 769px) and (max-width: 1024px) {
    .hero-content {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .first-name, .subtitle {
        font-size: 6vw;
    }

    .last-name, .highlight {
        font-size: 10vw;
        margin: 0; /* Assure le centrage sans marges qui pourraient perturber */
    }

    .hero-image img {
        width: 200px;
        height: 200px;
    }

    .circle-top {
        top: -10vh;
        left: -20vw;
        width: 60vw;
        height: 60vw;
    }

    .circle-bottom {
        bottom: -10vh;
        right: -20vw;
        width: 60vw;
        height: 60vw;
    }

    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        width: 100%;
        padding: 1em;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
        transform: translateY(-100%);
    }

    nav.open {
        display: flex;
        flex-direction: column;
        transform: translateY(0);
    }

    .hamburger {
        display: flex;
    }

    .presentation {
        font-size: 1.1rem; /* Taille intermédiaire */
    }

}

/* Animation de la présentation avec fond qui devient blanc */
.presentation {
    z-index: 5;
    font-size: 1.2rem; /* Taille du texte */
    line-height: 1.6; /* Espacement entre les lignes */
    color: #555; /* Couleur du texte pour un bon contraste */
    margin: 2rem auto; /* Espacement autour de l'élément */
    width: 80%; /* Largeur relative pour un alignement centré */
    max-width: 800px; /* Largeur maximale pour les grands écrans */
    text-align: justify; /* Texte justifié pour une meilleure lisibilité */
    background-color: #f9f9f9; /* Fond légèrement contrasté */
    padding: 1.5rem; /* Espacement interne */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0px 0.4vw 1vw rgba(0, 0, 0, 0.3);
}
