/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

.page {
    scroll-snap-align: start;
}

.page-accueil {
    background-color: #D8D9D0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Barre de navigation */
.navbar {
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    font-size: 1rem;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    border-radius: 20px;
    animation: fadeIn 2s ease-out forwards;
}

.navbar .logo {
    position: absolute;
    left: 20px;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}


/* Section Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 80px; /* Pour laisser de l'espace pour la navbar */
    overflow: hidden;
}

.hero-content {
    position: absolute;
    left: 15%;
    top: 60%;
    transform: translateY(-50%);
    text-align: left;
}

/* Animation pour l'image seulement */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Léger mouvement vers le haut */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Appliquer l'animation uniquement à l'image */
.hero-image img {
    width: 100%; /* Adaptez la largeur à 100% */
    max-width: 955px; /* Limitez la largeur maximale */
    height: auto;
    object-fit: cover;
    animation: fadeInUp 2s ease-out forwards;
    
}

/* Cercles décoratifs */
.circle {
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    animation: fadeInUp 2s ease-out forwards;
    
}

.circle-top {
    top: -20%;
    left: -5%;
    width: 35vw;
    height: 30vw;
}

.circle-bottom {
    bottom: -20%;
    right: -5%;
    width: 35vw;
    height: 30vw;
}

.hero-content p {
    text-align: right;
}

.first-name {
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 0.01rem;
}

.last-name-container {
    display: flex;
    gap: 27rem;
    align-items: baseline;
}

.last-name {
    font-size: 12rem;
    font-weight: 700;
}

.highlight {
    font-size: 12rem;
    font-weight: 700;
}

.subtitle {
    font-size: 1.2rem;
    color: #666;
    margin-top: 1rem;
}

.scroll-down {
    font-size: 0.8rem;
    color: #888;
    position: fixed; /* Fixe la position */
    bottom: 20px; /* Distance du bas de la page */
    left: 20px; /* Distance du côté gauche */
    z-index: 20; /* Pour s'assurer qu'il est au-dessus des autres éléments */
    transition: color 0.3s ease; /* Pour une transition de couleur fluide */
}

.scroll-down:hover {
    color: #333; /* Change la couleur au survol */
}

.scroll-down::after {
    content: '▼'; /* Flèche Unicode pour le bas */
    margin-left: 0.5rem;
    font-size: 0.7rem;
    transition: transform 0.3s ease;
}

.scroll-down:hover::after {
    transform: translateY(5px); /* Animation au survol */
}


